# Dependencies
node_modules/

# Expo & Builds
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
*.pem

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Secrets & Environment variables
.env
.env*.local
.env.local

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android

# Temporary scratch scripts
scratch/
temp/
